<div class="page-header">
  <h1>Listing Notes</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'inline_form', note: Note.new %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <%= render @notes %>
    </ul>
  </div>
</div>

<%= subscribe_to "/notes" %>
